/* Styling for footer */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
}

footer nav ul li a:hover {
    color: #666;
}

